{
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeature": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint",
    "simple-import-sort",
    "tailwindcss"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/jsx-runtime",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/prop-types": "off",
    "tailwindcss/no-custom-classname": "warn",
    "tailwindcss/no-contradicting-classname": "error",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  }
}
